<% layout('layouts/boilerplate') -%>

<div class="container">
  <div class="gameScreen">
    <!-- GUESS 1 -->
    <div class="letterRow mx-4 mt-3" id="guess1">
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color11 %>"
          disabled
          value="<%=letter11%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color12 %>"
          disabled
          value="<%=letter12%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color13 %>"
          disabled
          value="<%=letter13%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color14 %>"
          disabled
          value="<%=letter14%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color15 %>"
          disabled
          value="<%=letter15%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color16 %>"
          disabled
          value="<%=letter16%>"
          maxlength="1"
        />
      </div>
    </div>

    <!-- GUESS 2 -->
    <div class="letterRow mx-4 mt-3" id="guess2">
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color21 %>"
          disabled
          value="<%=letter21%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color22 %>"
          disabled
          value="<%=letter22%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color23 %>"
          disabled
          value="<%=letter23%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color24 %>"
          disabled
          value="<%=letter24%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color25 %>"
          disabled
          value="<%=letter25%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color26 %>"
          disabled
          value="<%=letter26%>"
          maxlength="1"
        />
      </div>
    </div>

    <!-- GUESS 3 -->
    <div class="letterRow mx-4 mt-3" id="guess3">
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color31 %>"
          disabled
          value="<%=letter31%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color32 %>"
          disabled
          value="<%=letter32%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color33 %>"
          disabled
          value="<%=letter33%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color34 %>"
          disabled
          value="<%=letter34%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color35 %>"
          disabled
          value="<%=letter35%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color36 %>"
          disabled
          value="<%=letter36%>"
          maxlength="1"
        />
      </div>
    </div>

    <!-- GUESS 4 -->
    <div class="letterRow mx-4 mt-3" id="guess4">
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color41 %>"
          disabled
          value="<%=letter41%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color42 %>"
          disabled
          value="<%=letter42%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color43 %>"
          disabled
          value="<%=letter43%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color44 %>"
          disabled
          value="<%=letter44%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color45 %>"
          disabled
          value="<%=letter45%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color46 %>"
          disabled
          value="<%=letter46%>"
          maxlength="1"
        />
      </div>
    </div>

    <!-- GUESS 5 -->
    <div class="letterRow mx-4 mt-3" id="guess5">
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color51 %>"
          disabled
          value="<%=letter51%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color52 %>"
          disabled
          value="<%=letter52%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color53 %>"
          disabled
          value="<%=letter53%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color54 %>"
          disabled
          value="<%=letter54%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color55 %>"
          disabled
          value="<%=letter55%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color56 %>"
          disabled
          value="<%=letter56%>"
          maxlength="1"
        />
      </div>
    </div>

    <!-- GUESS 6 -->
    <div class="letterRow mx-4 mt-3" id="guess6">
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color61 %>"
          disabled
          value="<%=letter61%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color62 %>"
          disabled
          value="<%=letter62%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color63 %>"
          disabled
          value="<%=letter63%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color64 %>"
          disabled
          value="<%=letter64%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color65 %>"
          disabled
          value="<%=letter65%>"
          maxlength="1"
        />
      </div>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= color66 %>"
          disabled
          value="<%=letter66%>"
          maxlength="1"
        />
      </div>
    </div>

    <div class="row text-center mt-3">
      <p class="h3">GUESS THE WORD!</p>
    </div>

    <form action="/game" method="POST">
      <div class="guessRow mx-4 mt-5">
        <div class="col-1">
          <input
            type="text"
            class="form-control"
            name="letter1"
            maxlength="1"
          />
        </div>
        <div class="col-1">
          <input
            type="text"
            class="form-control"
            name="letter2"
            maxlength="1"
          />
        </div>
        <div class="col-1">
          <input
            type="text"
            class="form-control"
            name="letter3"
            maxlength="1"
          />
        </div>
        <div class="col-1">
          <input
            type="text"
            class="form-control"
            name="letter4"
            maxlength="1"
          />
        </div>
        <div class="col-1">
          <input
            type="text"
            class="form-control"
            name="letter5"
            maxlength="1"
          />
        </div>
        <div class="col-1">
          <input
            type="text"
            class="form-control"
            name="letter6"
            maxlength="1"
          />
        </div>
      </div>

      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary">GUESS!</button>
      </div>
    </form>
  </div>
</div>
<div class="container">
<% if(winner>0){%>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="staticBackdropLabel"></h5>
      </div>
      <div class="modal-body">
        <div class="row">
      <% if (winner=1){ %>
        <h1 class="text-center">CONGRATULATIONS!</h1>
      <% } else { %>
        <h1 class="text-center">GAME OVER</h1>
      <% } %>
        </div>
        <div class="text-center">
          <h5>CORRECT WORD WAS: <%=correctWord%></h5>
        </div>
        <div class="row text-center mx-auto mt-5">
          <img src="<%=catURL%>" height="250" width="250" alt=""/>
        </div>
        <div class="row text-center">
          <h6>As a reward, behold this majestic feline masterpiece—certified 100% adorable by experts.</h6>
        </div>
      </div>
      
      <div class="modal-footer text-center">
        <form action="/" method="GET">
        <button type="submit" class="btn btn-primary">PLAY AGAIN</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<% } %>
<%- "<script>" %>
  document.addEventListener("DOMContentLoaded", () => {
    <% if (winner) { %>
      const modalElement = document.getElementById('staticBackdrop');
      if (modalElement) {
        const modal = new bootstrap.Modal(modalElement);
        modal.show();
      }
    <% } %>
  });
<%- "</script>" %>


