<% layout('layouts/boilerplate') -%>
    <div class="gameScreen">
      <img src="/images/caticons.png" class="cat-icon" alt="">
      <!-- https://www.flaticon.com/free-icons/kitty" title="kitty icons" Kitty icons created by Boris farias - Flaticon -->
      <% for (let guess = 1; guess <= 6; guess++) { %>
  <div class="letterRow" id="guess<%= guess %>">
    <% for (let i = 1; i <= letters; i++) { %>
      <div class="col-1">
        <input
          type="text"
          class="form-control <%= answerObj[`color${guess}${i}`] %> m-2"
          disabled
          value="<%= answerObj[`letter${guess}${i}`] %>"
          maxlength="1"
        />
      </div>
    <% } %>
  </div>
<% } %>



    <div class="row text-center mt-3">
      <p class="h3">GUESS THE WORD!</p>
    </div>

    <form action="/game" method="POST">
      <div class="guessRow mx-4 mt-5">
      <% for (let i = 1; i <= letters; i++) { %>
      <div class="col-1">
        <input
          type="text"
          class="form-control m-2"
          name="letter<%= i %>"
          maxlength="1"
          required
        />
      </div>
      <% } %>
      </div>

      <div class="text-center mt-3">
        <button type="submit" class="btn btn-dark text-white guessButton p-2 mb-3 mt-5">GUESS!</button>
      </div>
    </form>
    </div>

<div class="container">
<% if(winner>0){%>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="staticBackdropLabel"></h5>
      </div>
      <div class="modal-body">
        <div class="row">
      <% if (winner==1){ %>
        <h1 class="text-center">CONGRATULATIONS!</h1>
      <% } else { %>
        <h1 class="text-center">GAME OVER</h1>
      <% } %>
        </div>
        <div class="text-center">
          <h5>CORRECT WORD WAS: <%=correctWord%></h5>
        </div>
        <div class="row text-center mx-auto mt-5">
          <img src="<%=catURL%>" height="250" width="250" alt=""/>
        </div>
        <div class="row text-center">
          <h6>As a reward, behold this majestic feline masterpiece—certified 100% adorable by experts.</h6>
        </div>
      </div>
      
      <div class="modal-footer text-center">
        <form action="/options">
        <button type="submit" class="btn btn-dark text-white playButton p-2 mb-3 mt-5">PLAY AGAIN</button>
        </form>
        <form action="/quit">
        <button type="submit" class="btn btn-danger text-dark playButton p-2 mb-3 mt-5">QUIT</button>
        </form>
      </div>
    </div>
<% } %>
<%- "<script>" %>
  document.addEventListener("DOMContentLoaded", () => {
    <% if (winner) { %>
      const modalElement = document.getElementById('staticBackdrop');
      if (modalElement) {
        const modal = new bootstrap.Modal(modalElement);
        modal.show();
      }
    <% } %>
  });
<%- "</script>" %>


